
        <h3>Salary Transaction</h3>
         <%= link_to "New Salary Transaction", new_organization_salary_transaction_path(Organization.first), class: "btn btn-success" %><br/><br/>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Month</th>
                  <th scope="col">Year</th>
                  <th scope="col">Salary</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody> 
            <% SalaryTransaction.all.each_with_index do |salary_transaction, index| %> 
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= salary_transaction.try(:month) %></td>
                    <td><%= salary_transaction.try(:year) %></td>
                    <td><%= salary_transaction.employee_salaries.sum(:salary_amount) %></td>
                    <td><%= link_to "Download", generate_salary_transaction_path(salary_transaction), class: "btn btn-success " %>
                   <%= link_to "Edit", edit_salary_transaction_path(salary_transaction), class: "btn btn-info" %>
                   <%= link_to 'Destroy', organization_salary_transaction_path(Organization.last,salary_transaction),data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger " %>
                   </td>
                  </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
       