<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">        
        <div class="container">
          <br/><%#= link_to "New Salary Transaction", new_organization_salary_transaction_path(Organization.first), class: "btn btn-success" %>
          <h2>Salary Transactions </h2><br/>

        <%= form_with(model: @salary_transaction, local: true) do |form| %>
        <% form.object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>

          <b>Month</b> <%= form.select :month, (1..12).collect{|p| [Date::MONTHNAMES[p], p]}, selected: Time.now.month %>
          <b>Year</b> <%= form.select :year, 2016..Time.now.year, selected: Time.now.year %>
          <%= form.hidden_field :user_id, value: "#{current_user.id}" %><br/><br/>

            <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Employee Id</th>
                  <th scope="col">Salary</th>
                </tr>
              </thead>
              <tbody>
                <% User.all.each_with_index do |user, index| %>
                  <%= form.fields_for :employee_salaries do |s| %>
                    <% s.object.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    
                      <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= user.name %></td>
                        <td><%= user.employee_id %></td>
                        <td><%= s.text_field :salary_amount, required: true %></td>
                      </tr>
                   
                    <%= s.hidden_field :user_id, value: "#{user.id}" %>
                  <% end %>
                <% end %>
                 </tbody>
            </table>
          </div>
        </div>
      </div>
            <%= form.submit 'Save',class: "btn btn-lg btn-success"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>              
</main>