<div class= "container">

<div class="card" style="width: 18rem;">
  <%= image_tag "new_hr.jpeg",class: "card-img-top", alt: "Card image cap" %>
 
  <% sum = 0 %>
  <% sum1 = 0 %>
  <% sum2 = 0 %>
  <div class="card-body">
    <h5 class="card-title"><%= current_user.name %></h5>
    <p class="card-text">
    <%= current_user.email %><br/>
    Employee code: <%= current_user.employee_id %><br/>

    <% TimeLog.where("DATE(in_time) = ? and user_id = ?", Date.today, current_user.id ).each do |cal_time| %>

        <% if cal_time.out_time.present? %>
          <% sum1 += (cal_time.try(:out_time).to_f - cal_time.try(:in_time).to_f) %>
        <% end %>
          
        <% if !cal_time.out_time.present? %>
          <% sum2 += (DateTime.now.to_f - cal_time.try(:in_time).to_f) %>
        <% end %>
      <% sum = (sum1 + sum2) %>
      
    <% end %>
    Working hours: <%= Time.at(sum).utc.strftime("%H hours %M minutes") %>
    </p>

      <% if user_signed_in? %>
        <% if !current_user.time_logs.present? %>
          <%= link_to "Check-In", sign_in_time_logs_path, method: :post ,class: "btn btn-primary", :style => "text-align: center;" %>
       
        <% elsif current_user.time_logs.last.out_time == nil &&  current_user.time_logs.last.in_time.strftime("%Y-%m-%d") == Time.now.strftime("%Y-%m-%d") %>
          <%= link_to "Check-Out", sign_out_time_logs_path, method: :post , class: "btn btn-primary", :style => "text-align: center;" %>
        <% else %>

          <%= link_to "Check-In", sign_in_time_logs_path, method: :post ,class: "btn btn-primary", :style => "text-align: center;" %>
        <% end %>

      <% end %>

  </div>
</div>
</div>
<br/><br/><br/><br/>
     