<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %><br/>
<% Organization.all.each do |organization| %>
<%= organization.name %>:-
<%= link_to "salary transaction", new_organization_salary_transaction_path(organization), class: "btn btn-success"%><br/>
<% end %>
<%= link_to "Account", new_account_path, class: "btn btn-success"%><br/>
<%= link_to "Salary", salary_transaction_employee_salaries_path(SalaryTransaction.last), class: "btn btn-success"%><br/>
<%= link_to "Transactions", salary_transactions_path, class: "btn btn-success" %><br/>
<%= link_to "Monthly Transaction", month_salary_transactions_path, class: "btn btn-success" %><br/>
