<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <h1 class="text-center">Organization App</h1>

          <% if current_user.time_logs.last.out_time == nil %>
            <%= link_to "Sign Out", sign_out_time_logs_path,method: :post, class: "btn btn-info", style: "text-align: right;"%>
          <% else %>
            <%= link_to "Sign In", sign_in_time_logs_path,method: :post, class: "btn btn-info", style: "text-align: right;"%>
          <% end %><br/><br/>
          
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email Id</th>
                  <th scope="col">Employee Id</th>
                </tr>
              </thead>
            <% User.all.each_with_index do |user, index| %>
                <tbody>  
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= user.try(:name) %></td>
                    <td><%= user.try(:email) %></td>
                    <td><%= user.try(:employee_id) %></td>
                  </tr>
                </tbody>
            <% end %>
          </table>
          </div>
        </div>
        </div> 
      </div>
    </div>
  </div>              
</main>
    <!-- page-content" -->

