  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Employees</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Total Working Hours</th>
              </tr>
            </thead>
              <tbody>  
                <% User.all.each_with_index do |user, index| %>
                    <% sum = 0 %>
                      <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= user.try(:name) %></td>
                        <td><%= user.try(:email) %></td>
                        <td><%= user.try(:employee_id) %></td>

                            <% user.time_logs.each do |total_time| %>
                              <% if total_time.out_time.present? %>
                                <% sum += ((total_time.try(:out_time).to_i - total_time.try(:in_time).to_i)/3600) %>
                              <% end %>
                            <% end %>

                        <td><%= sum %></td>
                      </tr>
                <% end %>
              </tbody>
        </table>
      </div>
    </div>
  </div>