<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
  
<div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
        
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-user form-show", id: "exampleInputEmail", placeholder: "Email Address"%>
                </div>
                
              <div class="col-sm-6">
                <div class="field">
                      
                      <%= f.text_field :name, class: "form-control form-control-user form-show", id: "exampleLastName", placeholder: "Enter Name"%>
                </div>
              </div>
            </div>

                <%= f.hidden_field :organization_id, value: "#{Organization.last}" %>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                 
                    
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user form-show", id: "exampleInputPassword", placeholder: "Password"%>
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                </div>

                <div class="col-sm-6">
                 
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user form-show", id: "exampleRepeatPassword", placeholder: "Repeat Password" %>
                </div>

              </div>
             <div class="actions">
               <%= f.submit "Sign up", class: "btn btn-primary btn-user btn-block", :style => "border-radius: 10rem;" %>
             </div>

          <% end %>
                 <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

 <!--  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :name %><br />
    <%#= f.text_field :name %>
  </div>

  <div class="field">
    <%#= f.label :organization_id %><br />
    <%#= f.text_field :organization_id %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
    <em>(<%#= @minimum_password_length %> characters minimum)</em>
    <%# end %><br />
    <%#= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%#= f.submit "Sign up" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>
</div>
    </div>
  </div>              
</main> --> 