    <!-- Begin Page Content -->
  <%#= text_field :date, "data-provide" => 'datepicker', class: "datapicker" %>
  <form action="/time_logs" method="get" autocomplete="off"> 
   <input type="date" name="time" value="<%= params[:time] || Date.today %>">
   <input name="save" type="submit" value="Search" />
  </form><br>
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Sign In</th>
                  <th scope="col">Sign Out</th>
                  <th scope="col">Total working hours</th>
                </tr>
              </thead>
          
              <tbody>

              <% @users.each_with_index do |user, index| %>
                  <% sum = 0 %>
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= user.name %></td>
                    <td><%= params[:time] || Date.today %></td>
                    <td>
                    <% user.time_logs.where("DATE(in_time) = ?", params[:time] || Date.today).each do |time|%>
                      <%= time.in_time.strftime("%I:%M %p") rescue "N/A" %><br/>
                    <% end %>
                  </td>

                    <td>
                        <% user.time_logs.where("DATE(in_time) = ?", params[:time] || Date.today).each do |time|%>
                          <%= time.out_time.strftime("%I:%M %p") rescue "N/A" %><br/>
                        <% end %>
                    </td>

                  <% selected_date = params[:time] || Date.today %>

                  <% TimeLog.where("DATE(in_time) = ? and user_id = ?", params[:time] || Date.today, user.id ).each do |cal_time| %>
                     <% if cal_time.out_time.present? %>
                       <% sum += ((cal_time.try(:out_time).to_f - cal_time.try(:in_time).to_f)/3600) %>
                     <% end %>
                  <% end %>

                    <td><%= sum.round(2) %></td>

                  </tr>
                
             <% end %>
                    </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'dd-mm-yyyy'});
  });
</script>
 
  