    <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
    
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Sign In</th>
                  <th scope="col">Sign Out</th>
                </tr>
              </thead>
              <tbody>
              <% @users.each_with_index do |user, index| %>
                  
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= user.name %></td>
                    <td><%= Date.today %></td>
                    <td>
                    <% user.time_logs.where("in_time >= ?", Time.zone.now.beginning_of_day).each do |time|%>
                    <%= time.in_time.localtime %><br/>
                    <% end %>
                  </td>
                    <td>
                    <% user.time_logs.where("out_time >= ?", Time.zone.now.beginning_of_day).each do |time|%>
                    <%= time.out_time.localtime %><br/>
                    <% end %>
                  </td>
                  </tr>
                
             <% end %>
                    </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
 

  