<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="container" id="attendence"> 
          <h2>Employee Attendence</h2><br/>
            <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Arrival</th>
                  <th scope="col">Departure</th>
                </tr>
              </thead>
             <% @users.each_with_index do |user, index| %>
                <tbody>  
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= user.name %></td>
                    <td><%= Date.today %></td>
                    <td><%= user.time_logs.last.try(:in_time) %></td>
                    <td><%= user.time_logs.last.try(:out_time) %></td>
                  </tr>
                </tbody>
             <% end %>
          </table>
        </div>
      </div>
    </div>
        </div>
      </div>
   </div>
 </div>              
</main>