<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <div class= "container">
        <h3>Profile</h3>
          <div class="card" style="width: 22rem;">
            <%= image_tag "new_hr.jpg",class: "card-img-top", alt: "Card image cap" %>
            
            <div class="card-body">
              <h5 class="card-title"><b><%= @user.name %></b></h5>
              <p class="card-text">
                Employee code: <%= @user.employee_id %><br/>
                Email: <%= @user.email %><br/>
                Account Number: <%= @user.account.account_no %><br/>
                bank ifsc code: <%= @user.account.ifsc %>
              </p>
               <%= link_to "Attendence",user_time_logs_path(:user => @user.id) ,class: "btn btn-success" %>
            </div>
          </div>
        </div>
     </div>
   </div>
 </div>              
</main>
