<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="">
  <meta name="author" content="Ashish Prajapati">

  <title>Clecotech - Human Resource Department</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('favicon.ico/apple-icon-57x57.png') %> ">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('favicon.ico/apple-icon-60x60.png') %> ">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('favicon.ico/apple-icon-72x72.png') %> ">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('favicon.ico/apple-icon-76x76.png') %> ">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('favicon.ico/apple-icon-114x114.png') %> ">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('favicon.ico/apple-icon-120x120.png') %> ">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('favicon.ico/apple-icon-144x144.png') %> ">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('favicon.ico/apple-icon-152x152.png') %> ">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('favicon.ico/apple-icon-180x180.png') %> ">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_url('favicon.ico/android-icon-192x192.png') %> ">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url('favicon.ico/favicon-32x32.png') %> ">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_url('favicon.ico/favicon-96x96.png') %> ">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url('favicon.ico/favicon-16x16.png') %> ">
  <link rel="manifest" href="<%= asset_url('favicon.ico/manifest.json') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= asset_url('favicon.ico/ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
     <% if user_signed_in? && current_user.has_role?(:HR) %>
       <%= render 'layouts/header'%>
     <% end %>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          
            <%= render 'layouts/navbar'%>
        
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <% flash.each do |type, message| %>
                <div class="alert <%= bootstrap_class_for(type) %> in">
                  <button class="close" data-dismiss="alert">×</button>
                  <%= message %>
                </div>
            <% end %>
            <%= yield %>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        
          <%= render 'layouts/footer'%>
       
      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
