<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
      <div class= "container">
        <h2>Employee Account Details</h2><br/>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Account no.</th>
                <th scope="col">IFSC</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
           <% Account.all.each_with_index do |account, index| %>
              <tbody>  
                <tr>
                  <th scope="row"><%= index+1 %></th>
                  <td><%= account.user.employee_id %></td>
                  <td><%= account.account_no %></td>
                  <td><%= account.ifsc %></td>
                  <td><%= account.user.name %></td>
                </tr>
              </tbody>
           <% end %>
        </table>
      </div>
    </div>
  </div>
      </div>
    </div>
   </div>
 </div>              
</main>